.link-header {
  text-align: center;
  background-color: #0b193f;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.content {
  color: white;
  align-items: center;
  justify-content: center;
  padding: 50px 25px;
  max-width: 648px;
}
