.benefit {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  max-width: 648px;
  margin: 40px auto;
  flex-wrap: wrap;
  padding: 0 25px;
}

@media (min-width: 750px) {
  .benefit {
    justify-content: space-between;
    margin: 100px auto;
  }
}

.benefit.reverse {
  flex-direction: row-reverse;
}

.benefit-image {
  width: 30%;
  box-shadow: 5px 5px 13px 0 #b5b5b5;
  filter: blur(5px);
}

.text-block {
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .text-block {
    width: 60%;
  }
}
