.benefit-row {
  display: none;
}

@media (min-width: 750px) {
  .benefit-row {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    max-width: 912px;
    margin: 0px auto;
  }

  .benefit-icon {
    width: 60%;
    padding: 50px;
    box-sizing: border-box;
  }

  .benefit-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
}
