.benefit {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  max-width: 648px;
  margin: 40px auto;
  flex-wrap: wrap;
  padding: 0 25px;
  overflow: hidden;
}

@media (min-width: 750px) {
  .benefit {
    justify-content: space-between;
    margin: 100px auto;
    overflow: unset;
  }
}

.benefit.reverse {
  flex-direction: row-reverse;
}

.benefit-image {
  width: 50%;
  transform: rotate(10deg) translateX(-60%);
  margin-top: 60px;
}

@media (min-width: 750px) {
  .benefit-image {
    transform: rotate(10deg) translateX(30%);
    width: 40%;
  }
}

.benefit.reverse .benefit-image {
  transform: rotate(-10deg) translateX(60%);
}

@media (min-width: 750px) {
  .benefit.reverse .benefit-image {
    transform: rotate(-10deg) translateX(-30%);
    width: 40%;
  }
}

.text-block {
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .text-block {
    width: 60%;
  }
}
