.icon-wrapper {
  position: absolute;
  left: 25px;
  top: 30px;
}

.back-icon {
  width: 30px;
}

.text-block-datenschutz {
  max-width: 648px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: left;
}
