.footer {
  height: 50px;
  margin: auto;
  align-items: center;
  justify-content: center;
  max-width: 648px;
  flex-direction: row;
  display: flex;
  padding: 20px 25px;
}

.footer-link {
  margin: 0 20px;
  border-bottom: none;
  cursor: pointer;
}

.footer-link:hover {
  border-bottom: 1px solid currentColor;
}

.footer-link a {
  text-decoration: none;
  color: white;
}
