.header {
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  display: flex;
  height: 85vh;
  background-image: url("./assets/background_mob.jpg");
  background-size: cover;
  padding-top: 30px;
}

@media (min-width: 750px) {
  .header {
    background-image: url("./assets/background.jpg");
    padding-top: 80px;
  }
}

.headercontent {
  max-width: 375px;
  height: 100vh;
}

@media (min-width: 750px) {
  .headercontent {
    max-width: 1200px;
  }
}

.header-logo {
  width: 80%;
  /* margin-bottom: 50px; */
  object-fit: contain;
}

@media (min-width: 750px) {
  .header-logo {
    width: 20%;
    margin: 10px;
  }
}

.headline {
  position: absolute;
  top: 0;
  margin: 0;
  color: transparent;
}

.subheadline {
  color: #ffff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.laneheadline {
  color: #ffff;
  display: flex;
  text-align: center;
  padding: 0 25px 0px;
  justify-content: center;
}

@media (min-width: 750px) {
  .laneheadline {
    padding: 0;
  }
}