.header {
  text-align: center;
  background-color: #0b193f;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding-bottom: 50px;
}

.header-logo {
  height: 200px;
  width: 100%;
}

@media (min-width: 750px) {
  .header-logo {
    height: 500px;
    width: unset;
  }
}

.headline {
  position: absolute;
  top: 0;
  margin: 0;
}

.subheadline {
  color: #ffff;
  max-width: 648px;
  padding: 0 25px;
  margin-bottom: 50px;
}

@media (min-width: 750px) {
  .subheadline {
    margin-top: -70px;
  }
}
